.popup__image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 357px;
    max-width: 240px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
  
  @media screen and (min-width: 880px) {
    .popup__image-container {
      max-width: 896px;
      height: 602px;
    }
  }