.elements__delete{
    background-image: url(../../../image/Delite.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px; 
    right: 20px;
    border: 0;
    cursor: pointer;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);;
}

.elements__delete:hover{
    opacity: 0.6;
}