.elements__like{
    background: url(../../../image/like.svg) no-repeat;
    height: 19px;
    width: 22px;
    border: 0;
    margin-top: 26px;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.elements__like:hover{
    opacity: 0.5;
}