.profile__button{
    background: url(../../../image/Button.png) no-repeat;
    background-position: center;
    background-size: 18px;
    width: 22px;
    height: 22px;
    border: 2px solid #FFFFFF;
    padding: 22px 73px;
    margin-left: auto;
    margin-top: 32px;
}

@media screen and (max-width: 680px) {
    .profile__button{
        margin: 0 auto;
        padding: 22px 140px;
        width: 10px;
        height: 10px;
    }
}

.profile__button:hover{
    opacity: 0.6;
}