.popup__title{
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .popup__title{
        font-size: 18px;
        line-height: 22px;
    }
}